html {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black
}

ul {
  position: relative;
}

ul li {
  list-style: none;
  text-align: center;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 1s;
}

ul:hover li a {
  color: gray;
}
ul li:hover a {
  color: white;
  background: transparent;
}

details {
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  color: white;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid white;
  margin-bottom: 0.5em;
}

p {
  color: white;
}

img {
  width: 200px;
}
